body { 
    font-family: 'Montserrat', sans-serif !important;
    background-color: #e4e7cd !important;
    overflow-x: hidden !important;
}
.goal-list {
    margin-right: auto;
} 
.goalItem {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; 
}
.progressBar {
    width: 350%;
    height: 20px;
    background-color: #e4e7cd;
}
.progress {
    height: 20px;
    background-color: #1a5f24 !important;
    color: #e4e7cd !important;
    width: 0%;
    transition: width 1s ease-in-out !important;
}
.sidebarContainer {
    display: flex;
    flex: .2;
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    @media screen and (max-width: 600px) {
        margin-left: auto;
    }
}
.goalsContainer {
    display: flex;
    flex-direction: column;
    flex: .8;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-top: 20px;
}
.addGoalButton {
    background-color: rgb(33,119,46);
    margin-left: auto;
    &:hover {
        background-color: #1a5f24;
    }
}
.goalsHeader {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.headerText {
    margin-right: auto;
}