body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #e4e7cd !important;
    margin: 0;
    padding: 0;
}
.sidebarContainer {
    display: flex;
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    margin-left: 2rem;
    margin-right: auto;
    @media screen and (max-width: 600px) {
        margin-left: auto;
    }
}
.helpContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    a {
        text-decoration: none;
        color: rgb(33,119,46);
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

